<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-transitional-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head th:include="fragments/headTag :: headTag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>@TODOShare: a Spring MVC/Spring data exmaple application</title>

    <script th:include="fragments/headTag :: headTag"  th:remove="tag" type="text/javascript"></script>

</head>

<body>
<div class="container">

    <div th:include="fragments/bodyHeader :: bodyHeader" th:remove="tag">
    </div>

    <div>
        <form th:object="${toDoForm}" method="post" th:action="@{/todo/}"
              th:method="${toDoForm['new']} ? 'post' : 'put'" class="form-horizontal" action="">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{note}"/>
            <input type="hidden" th:field="*{dueDate}"/>
            <div class="control-group" th:classappend="${#fields.hasErrors('title')} ? 'error' : ''">
                <label class="control-label" th:for="*{title}" th:text="#{todo.title}">Title</label>
                <div class="controls">
                    <input type="text" th:field="*{title}" />
                    <span class="help-inline" th:errors="*{title}">[error]</span>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary btn-large" th:if="${toDoForm['new']}" type="submit">Save</button>
                <button class="btn btn-primary btn-large" th:unless="${toDoForm['new']}" type="submit">Update</button>
            </div>
        </form>

    </div>
    <div>
        <h5>ToDo List</h5>
        <ul th:each="todo : ${todoList}">
                <li>
                    <em th:text="${todo.title}">ToDo title text</em> |
                    <a href="/todo/edit" th:href="@{/todo/}  + ${todo.id}">Edit</a> |
                    <a href="/todo/delete" th:href="@{/todo/}  + ${todo.id}">Delete</a>
                </li>

        </ul>
    </div>

    <div th:substituteby="fragments/footer :: footer" class="footer">

    </div>

</div>
</body>

</html>