<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-transitional-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>@TODOShare: a Spring MVC/Spring data exmaple application</title>

    <script th:include="fragments/headTag :: headTag"  th:remove="tag" type="text/javascript"></script>

    <link href="../../resources/css/datepicker.css"
    th:href="@{/resources/css/datepicker.css}" rel="stylesheet"/>

    <script src="https://raw.github.com/eternicode/bootstrap-datepicker/master/js/bootstrap-datepicker.js"
    th:src="@{/webjars/bootstrap-datepicker/1.0.1/js/bootstrap-datepicker.js}"></script>


</head>

<body>
<div class="container">

    <div th:substituteby="fragments/bodyHeader :: bodyHeader" th:remove="tag">
    </div>

    <div>
        <div>
            <a href="" th:href="@{/todo/list}">Back to list</a>
        </div>
        <h5>ToDo Edit</h5>
        <form th:object="${toDoForm}" method="post" th:action="'#'" action="#"
              th:method="${toDoForm['new']} ? 'post' : 'put'" class="form-horizontal">
            <input type="hidden" th:field="*{id}" />
            <div class="control-group" th:classappend="${#fields.hasErrors('title')} ? 'error' : ''">
                <label class="control-label" th:for="*{title}" th:text="#{todo.title}">Title</label>
                <div class="controls">
                    <input type="text" th:field="*{title}" />
                    <span class="help-inline" th:errors="*{title}">[error]</span>
                 </div>
            </div>
            <div class="control-group" th:classappend="${#fields.hasErrors('note')} ? 'error' : ''">
                <label class="control-label" th:for="*{note}" th:text="#{todo.note}">note</label>
                <div class="controls">
                    <textarea  th:field="*{note}" cols="40" rows="3"></textarea>
                    <span class="help-inline" th:errors="*{note}">[error]</span>
                 </div>
            </div>
            <div class="control-group" th:classappend="${#fields.hasErrors('dueDate')} ? 'error' : ''">
                <label class="control-label" th:for="*{dueDate}" th:text="#{todo.dueDate}">dueDate</label>
                <div class="controls">
                    <input id="dueDate" type="text"  th:field="*{dueDate}" data-date-format="dd-mm-yyyy"/>
                    <span class="help-inline" th:errors="*{dueDate}">[error]</span>
                </div>
            </div>
            <div class="form-actions">
                <button class="btn btn-primary btn-large" th:if="${toDoForm['new']}" type="submit">Save</button>
                <button class="btn btn-primary btn-large" th:unless="${toDoForm['new']}" type="submit">Update</button>
            </div>
        </form>
    </div>

    <script type="text/javascript" charset="utf-8">
        //<![CDATA[
        var now = new Date();
        var dueDate = $('#dueDate').datepicker(
                {
            format: 'dd-mm-yyyy',
            startDate: now
        });
        //]]>
    </script>

    <div th:substituteby="fragments/footer :: footer" class="footer">

    </div>

</div>
</body>

</html>