<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-transitional-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../../../resources/css/petclinic.css"
          th:href="@{/resources/css/petclinic.css}" rel="stylesheet"/>

    <script  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
             th:src="@{/webjars/jquery/1.9.0/jquery.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.js}"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css"
          th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}" rel="stylesheet"></link>

</head>

<body th:fragment="bodyHeader">

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li style="width: 100px;"><a href="/dashboard" th:href="@{/}"><i class="icon-home"></i>Home</a></li>
            <!--<li style="width: 130px;"><a href="../owners/findOwners.html" th:href="@{/owners/find.html}"><i class="icon-search"></i>Find owners</a></li>-->
            <li style="width: 140px;"><a href="/todo/list" th:href="@{/todo/list}"><i class="icon-th-list"></i>ToDo List</a></li>
            <!--<li style="width: 90px;"><a href="../exception.html" th:href="@{/oups.html}" title="trigger a RuntimeException to see how it is handled"><i class="icon-warning-sign"></i>Error</a></li>-->
            <li style="width: 100px;"><a href="/credits" th:href="@{/credits}" title="not available yet. Work in progress!!"><i class=" icon-question-sign"></i>Credits</a></li>
            <li><form class="navbar-form pull-right" action="" method="get" th:action="@{/searchPage}" ><input class="span2" type="text" id="q" name="q" placheholder="search string" /><button class="btn" type="submit">Search</button></form></li>
        </ul>
    </div>
    <div th:if="${not #strings.isEmpty(successMessage)}" class="alert alert-success alert-global">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong th:text="${successMessage}">success message</strong>
    </div>
    <div th:if="${not #strings.isEmpty(statusMessage)}" class="alert alert-info alert-global">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong th:text="${statusMessage}">info message</strong>
    </div>
    <div th:if="${not #strings.isEmpty(errorMessage)}" class="alert alert-error alert-global">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong th:text="${errorMessage}">error message</strong>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        $(".alert").alert();
        //]]>
    </script>
</div>
	
</body>

</html>