<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-transitional-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>

Here to be placed:
Logo?
http://SpringByExample.com.ua link
https://github.com/mcgray/TODOShare GitHub link
https://twitter.com/ua_spring follow me
Oleksiy Rezchykov oleksiy.rezchykov@gmail.com

<table th:fragment="footer" class="footer">
    <tr>
        <td></td>
        <td align="right">
           <img src="../../../resources/images/springsource-logo.png"
                th:src="@{/resources/images/springsource-logo.png}" alt="Sponsored by SpringSource" />
        </td>
    </tr>
</table>


</body>

</html>




